extends ./partials/layout.jade

block title
    title ESX

block slides

    article.title-slide
        h1 ESX

    article
        | JavaScript это имплементация стандарта ECMAScript

    article.center.qrcode
        .wrapper
            .half
                h2 ECMA–262 5.1 (Harmony)
            .half
                img(src="images/ecma.svg", alt="QRCODE cо ссылкой на ECMA–262")
            p 
                a(href="https://www.ecma-international.org/ecma-262/5.1/", data-click=true) http://ecma-international.org/ecma-262/5.1/

    article.center.qrcode
        .wrapper
            .half
                h2 ECMA–262 v. 7 2016
            .half
                img(src="images/ecma.svg", alt="QRCODE cо ссылкой на ECMA–262")
            p 
                a(href="http://www.ecma-international.org/publications/standards/Ecma-262.htm", data-click=true) http://www.ecma-international.org/publications/standards/Ecma-262.htm


    article
        | The Ecma International Technical Committee 39 (aka TC39)    

    article
        ol 
            li 1997
            li 1998
            li 1999
            li выбросили
            li 2009 
                ol 
                    li 2011 
            li.short-releases 2015
            li 2016

    article
        ol(start="0")
            li Strawman (Идея)
            li Proposal (Предложение)
            li Draft (Черновик)
            li Candidate (Кандидат)
            li Finished (Завершено)

    article.center.qrcode
        .wrapper
            .half
                h2 Процесс TC39
            .half
                img(src="images/ecma.svg", alt="QRCODE cо ссылкой на процесс TC39")
            p 
                a(href="https://tc39.github.io/process-document/", data-click=true) https://tc39.github.io/process-document/

    

    article
        h1 Идея
        p  Может внести член TC39 или зарегистрированный контрибьютор TC39
        ul 
            li надо рассмотреть на встрече TC39
            li надо добавить на страничку со Stage-0 

    article.center.qrcode
        .wrapper
            .half
                h2 Регистрация контрибьютора
            .half
                img(src="images/ecma.svg", alt="QRCODE cо ссылкой на ECMA–262")
            p 
                a(href="http://www.ecma-international.org/memento/contribute_TC39_Royalty_Free_Task_Group.php", data-click=true) http://www.ecma-international.org/memento/contribute_TC39_Royalty_Free_Task_Group.php


    article.center.qrcode
        .wrapper
            .half
                h2 STAGE 0
            .half
                img(src="images/ecma.svg", alt="QRCODE cо ссылкой на ECMA–262")
            p 
                a(href="https://github.com/tc39/proposals/blob/master/stage-0-proposals.md", data-click=true) https://github.com/tc39/proposals/blob/master/stage-0-proposals.md

    article.screen.screen--stage-0

    article
        h1 Предложение 
        p Могут отказать или отложить
        ul 
            li Должен быть выбран человек, формально ответственный за предложение
            li Либо этот человек, либо его помошник должен быть членом TC39
            li Должна быть описана проблема, которая решается
            li Должны быть обозначены проблемы, которые будут с внесением в спеку
            li Примеры, полифилы

    article.center.qrcode
        .wrapper
            .half
                h2 Неактивные
                ul
                    li Отложеные
                    li Отозваные
                    li Отвергнутые
            .half
                img(src="images/ecma.svg", alt="QRCODE cо ссылкой на неактивные предложения")
            p 
                a(href="https://github.com/tc39/proposals/blob/master/inactive-proposals.md", data-click=true) https://github.com/tc39/proposals/blob/master/inactive-proposals.md


    article
        h1 Черновик
        p Переписано может быть всё
        ul
            li Максимально полное формальное описание, но могут быть и todo
            li Нужны две имплементации, но одна может быть в транспайлере, например Babel

    article
        h1 Кандидат
        p Инкриментальные изменения
        ul 
            li Текст спецификации должен быть закончен
            li Назначены рецензенты
            li Редактор спецификации ECMAScript должен её подписать
            li Минимум две имплементации

    article.center.qrcode
        .wrapper
            .half
                h2 STAGE 1-3
            .half
                img(src="images/ecma.svg", alt="QRCODE cо ссылкой на Stage 1-3")
            p 
                a(href="https://github.com/tc39/proposals", data-click=true) http://github.com/tc39/proposals

    article
        h1 Завершено
        p Изменения только если обнаружены критические ошибки
        ul
            li Тесты
            li Две имплементации которые их проходят
            li Опыт использования имплементаций
            li Редактор спецификации ECMAScript должен её подписать


    article.center.qrcode
        .wrapper
            .half
                h2 STAGE 4
            .half
                img(src="images/ecma.svg", alt="QRCODE cо ссылкой на Stage 4")
            p 
                a(href="https://github.com/tc39/proposals/blob/master/finished-proposals.md", data-click=true) https://github.com/tc39/proposals/blob/master/finished-proposals.md

    article
        ul
            li V8 — Chrome, Chromium, Node.js, Opera, Electron, Vivaldi, Couchbase …
            li SpiderMonkey — Firefox
            li JavaScriptCore — Safari
            li Chakra — IE
            li …

    article.center.qrcode
        .wrapper
            .half
                h2 Список движков
            .half
                img(src="images/ecma.svg", alt="QRCODE cо ссылкой на список движков")
            p 
                a(href="https://en.wikipedia.org/wiki/List_of_ECMAScript_engines", data-click=true) https://en.wikipedia.org/wiki/List_of_ECMAScript_engines


    article.illustration.illustration--why.cloud.center
        h1 
            p.wrapper Как
                br
                b зачем?

    article.cloud.center.illustration.illustration--speed
        h1 
            p.wrapper Сравните
                br
                | cкорость

    article.center.qrcode.compare
        .wrapper
            .half
                h2 Сравнение быстродействия нативных функций и jQuery
            .half
                img(src="images/compare.svg", alt="QRCODE cо ссылкой на статью о сравнении скоростей")
            p 
                a(href="https://codepen.io/doughensel/post/10-libraries", data-click=true) https://codepen.io/doughensel/post/10-libraries

    article.center.comparer.chrome
        .wrapper
            .half
                h2 169.310ms
            .half
                h2 693.480ms

    article.center.comparer.safari
        .wrapper
            .half
                h2 164.063ms
            .half
                h2 1 164.516ms

    article.center.comparer.firefox
        .wrapper
            .half
                h2 222.696ms
            .half
                h2 464.386ms

    article.cloud.center.illustration.illustration--tools
        h1 
            p.wrapper Наши 
                b инструменты

    //- article.cloud.center.illustration.illustration--support
    //-     h1 
    //-         p.wrapper Оно 
    //-             b поддерживается?

    article.cloud.center.illustration.illustration--canwe
        h1 
            p.wrapper Can we?

    article.cloud.center.illustration.illustration--wecan
        h1 
            p.wrapper Yes, we can!
    
    article.screen.screen--support-es6

    article.screen.screen--support-es7

    article.screen.screen--support-esnext

    article.center.qrcode.compare
        .wrapper
            .half
                h2 Поддержка ES6 в браузерах
            .half
                img(src="images/support.svg", alt="QRCODE cо ссылкой на статью о сравнении скоростей")
            p 
                a(href="http://kangax.github.io/compat-table/es6/", data-click=true) http://kangax.github.io/compat-table/es6/

    article.cloud.center.illustration.illustration--transpiler
        h1 
            p.wrapper Транспайлеры

    article.center.qrcode.transpiler
        .wrapper
            .half
                h2 Babel.js
            .half
                img(src="images/babel.svg", alt="QRCODE cо ссылкой на babel.js")
            p 
                a(href="https://babeljs.io/", data-click=true) https://babeljs.io/

    article.center.qrcode.transpiler
        .wrapper
            .half
                h2 TypeScript
            .half
                img(src="images/typescript.svg", alt="QRCODE cо ссылкой на TypeScript")
            p 
                a(href="https://www.typescriptlang.org/", data-click=true) https://typescriptlang.org/

    article.center.qrcode.transpiler
        .wrapper
            .half
                h2 Traceur
            .half
                img(src="images/traceur.svg", alt="QRCODE cо ссылкой на Traceur")
            p 
                a(href="https://github.com/google/traceur-compiler", data-click=true) https://github.com/google/traceur-compiler

    article.center.qrcode.transpiler
        .wrapper
            .half
                h2 Buble
            .half
                img(src="images/buble.svg", alt="QRCODE cо ссылкой на buble")
            p 
                a(href="https://buble.surge.sh/", data-click=true) https://buble.surge.sh/

    //- article.center.qrcode.transpiler
    //-     .wrapper
    //-         .half
    //-             h2 Sweet.js
    //-         .half
    //-             img(src="images/sweet.svg", alt="QRCODE cо ссылкой на sweet")
    //-         p 
    //-             a(href="http://sweetjs.org/", data-click=true) http://sweetjs.org/


    article.cloud.center.illustration.illustration--babel
        h1 
            p.wrapper Babel.js

    article.screen.screen--sandbox

    article.illustration.illustration--grunt

    article.center.code-1
        .wrapper
            pre
                code="npm init\nnpm install --save grunt\nnpm install --save grunt-babel\nnpm install --save babel-preset-es2015\nnpm install --save load-grunt-tasks\nvi Gruntfile.js"

    article.center.code-1
        .wrapper
            pre
                code.javascript
                    | // Gruntfile.js
                    | module.exports = function (grunt) {
                    |   require("load-grunt-tasks")(grunt);
                    |   grunt.initConfig (
                    |       //…
                    |   );
                    |   grunt.registerTask("default", ["babel"]);
                    | };"

    article.center.code-1
        .wrapper
            pre
                code.javascript
                    | // Gruntfile.js, Задача
                    | {babel: {
                    |   options: {
                    |       sourceMap: true,
                    |       presets: ['babel-preset-es2015']
                    |   },
                    |   dist: {files: [
                    |       //…
                    |   ]}}}

    article.center.code-1
        .wrapper
            pre
                code.javascript
                    | // Gruntfile.js, Пути к файлам, статические
                    | {
                    |   'js/script_1.js': 'js/source/script_1.js',
                    |   'js/script_2.js': 'js/source/script_2.js'
                    | }

    article.center.code-1
        .wrapper
            pre
                code.javascript
                    | // Gruntfile.js, Пути к файлам, динамические
                    | {
                    |       expand: true,
                    |       cwd: 'js/source/',
                    |       src: ['**/*.js'],
                    |       dest: 'js/'
                    | }

    article.center.code-1
        .wrapper
            pre
                code
                    | # package.info
                    | …
                    | scripts": {
                    |   "build": "grunt --verbose"
                    | },"
                    | …

    article.center.code-1
        .wrapper
            pre
                code="npm run build"

    article.center.code-1
        .wrapper
            pre
                code="npm install --save grunt-contrib-watch"

    article.center.code-2
        .wrapper
            pre
                code.javascript
                    | // Gruntfile.js, Задача
                    | watch: {
                    |   scripts: {
                    |       files: ['js/source/**/*.js'],   
                    |       tasks: ['watch'],
                    |   }
                    | }
                    | // …
                    | grunt.registerTask("dev", ["babel","watch"]);

    article.center.code-1
        .wrapper
            pre
                code
                    | # package.info
                    | # …
                    | scripts": {
                    |   "build": "grunt --verbose"
                    |   "watch": "grunt watch --verbose"
                    | },"
                    | # …

    article.center.code-1
        .wrapper
            pre
                code="npm run watch"

    article.illustration.illustration--gulp

    article.center.code-1
        .wrapper
            pre
                code
                    | npm init
                    | npm install --save gulp
                    | npm install --save gulp-sourcemaps
                    | npm install --save gulp-babel
                    | npm install --save babel-preset-es2015
                    | vi gulpfile.js

    article.center.code-3
        .wrapper
            pre
                code
                    | // gulpfile.js
                    | var gulp = require("gulp");
                    | var sourcemaps = require("gulp-sourcemaps");
                    | var babel = require("gulp-babel");
                    | gulp.task("babel", function () {
                    |   return gulp.src("js/source/**/*.js")
                    |       .pipe(sourcemaps.init())
                    |       .pipe(babel({presets: ['es2015']}))
                    |       .pipe(sourcemaps.write("."))
                    |       .pipe(gulp.dest("js/"));
                    | });
                    | gulp.task("default", ["babel"]);

    article.center.code-1
        .wrapper
            pre
                code
                    | # package.info
                    | # …
                    | scripts": {
                    |   "build": "gulp --verbose"
                    | },"
                    | # …

    article.center.code-1
        .wrapper
            pre
                code="npm run build"

    article.center.code-1
        .wrapper
            pre
                code
                    | gulp.task("watch", ["babel"], function() {
                    |   var watcher = gulp.watch('js/source/**/*.js',
                    |                           ['babel']);
                    | });

    article.center.code-1
        .wrapper
            pre
                code
                    | # package.info
                    | # …
                    | scripts": {
                    |   "build": "gulp --verbose"
                    |   "watch": "gulp watch --verbose"
                    | },"
                    | # …

    article.center.code-1
        .wrapper
            pre
                code="npm run watch"

    article.illustration.illustration--m

    article.illustration.illustration--m1

    article.illustration.illustration--vaimo

    article.center.code-2
        .wrapper
            pre
                code
                    | aja project add-module vaimo/themebuilder:dev-develop
                    | cd ./vendor/vaimo/themebuilder/
                    | hg update 0d1c77d
                    | nvm install 6.3.1
                    | npm cache clean
                    | npm install
                    | qrc

    article.screen.screen--builder

    article.center.code-1
        .wrapper
            pre
                code
                    | script.es6

    article.center.code-1
        .wrapper
            pre
                code
                    | npm run gulp

    article.illustration.illustration--m2

    article.center.code-1
        .wrapper
            pre
                code
                    | m2:root/
                    |   package.json
                    |   Gruntfile.js

    article.center.code-1
        .wrapper
            pre
                code
                    | npm install
                    | npm install --save grunt-babel
                    | npm install --save babel-preset-es2015

    article.center.code-1
        .wrapper
            pre
                code
                    | composer require demo-vendor/demo-m2-theme

    article.screen.screen--admin-theme

    article.screen.screen--admin-config

    article.center.code-1
        .wrapper
            pre
                code
                    | m2:root/
                    |       dev/
                    |           tools/
                    |               grunt/
                    |                   configs/
                    |                       themes.js
                    |                       combo.js
                    |                       babel.js

    article.center.qrcode.config
        .wrapper
            .half
                h2 Magento 2 конфигурация 
                    br
                    | транспайлера
            .half
                img(src="images/configuration.svg", alt="QRCODE cо ссылкой на файлы конфигурацц")
            p 
                a(href="https://gist.github.com/SilentImp/d440f2805787d68f3aa5cc4f9fca4200", data-click=true) https://goo.gl/GJakUU


    article.center.code-2
        .wrapper
            pre
                code
                    | // themes.js
                    | dm2: {
                    |         area: 'frontend',
                    |         name: 'demo-vendor/demo-m2-theme',
                    |         locale: 'en_US',
                    |         files: ['css/styles-m','css/styles-l'],
                    |         dsl: 'less'
                    |         // …
                    |     },

    article.center.code-1
        .wrapper
            pre
                code
                    | // themes.js, конфиг babel.js
                    | babelFiles: [{
                    |     expand: true,
                    |     cwd: 'js/source/',
                    |     src: ['**/*.js'],
                    |     dest: 'js/'
                    | }]

    article.center.code-2
        .wrapper
            pre
                code
                    | // combo.js
                    | var theme = require('./themes'),
                    |     path = require('./path'),
                    |     refine_path = function (theme, file_path) {
                    |       return path.pub +
                    |           theme.area + '/' +
                    |           theme.name + '/' +
                    |           theme.locale + '/' + 
                    |           file_path;
                    |     };

    article.center.code-3
        .wrapper
            pre
                code
                    | // combo.js
                    | babelFiles: function (themeName) {
                    |     var es6Files = [],
                    |         ourTheme = theme[themeName],
                    |         files = ourTheme.babelFiles;
                    |     for (var i = 0; i < files.length; i++) {
                    |         if (typeof files[i].src == "undefined") {
                    |             // static file mapping
                    |         } else {
                    |             // dynamic file mapping
                    |         }
                    |     }
                    |     return es6Files;
                    | },

    article.center.code-2
        .wrapper
            pre
                code
                    | // combo.js, static file mapping
                    | var path_collection = {};
                    | for (var target in files[i]) {
                    |     path_collection[refine_path(ourTheme, target)] = 
                    |           refine_path(ourTheme, files[i][target]); 
                    | }
                    | es6Files.push(path_collection);

    article.center.code-1
        .wrapper
            pre
                code.javascript
                    | // combo.js, dynamic file mapping
                    | files.cwd = refine_path(ourTheme, files.cwd);
                    | files.dest = refine_path(ourTheme, files.dest);
                    | es6Files.push(files);

    article.center.code-1
        .wrapper
            pre
                code
                    | // babel.js, переменные
                    | 'use strict';
                    | var combo  = require('./combo'),
                    |     themes = require('./themes'),
                    |     _      = require('underscore'),
                    |     themeOptions = {};

    article.center.code-2
        .wrapper
            pre
                code
                    | // babel.js, пути к файлам
                    | _.each(themes, function(theme, name) {
                    |     if (typeof theme.babelFiles != "undefined") {
                    |         themeOptions[name] = {
                    |             files: combo.babelFiles(name)
                    |         };
                    |     }
                    | });

    article.center.code-1
        .wrapper
            pre
                code
                    | // babel.js, настройки транспайлера
                    | var babelOptions = {
                    |     options: {
                    |         sourceMap: true,
                    |         presets: ['babel-preset-es2015']
                    |     }
                    | };

    article.center.code-2
        .wrapper
            pre
                code.javascript
                    | // babel.js, экспорт конфигурации
                    | module.exports = _.extend(themeOptions, babelOptions);
    
    article.center.code-2
        .wrapper
            pre
                code
                    | php bin/magento setup:static-content:deploy
                    | grunt less:dm2
                    | grunt babel:dm2
                    | php bin/magento cache:flush


    article.screen.screen--alert

    article.contacts.center.qrcode
        .wrapper
            .about-speaker.half
                p.name Антон Немцев
                p.twitter @silentimp
                p.link http://silentimp.info/
                p.email anton.nemtsev@vaimo.com
                p.skype skype: ravencry
            .half
                img(src="images/git.svg", alt="QRCODE cо ссылкой на доклад")
            p 
                a(href="https://github.com/SilentImp/ES6Intro", data-click=true) https://github.com/SilentImp/ES6Intro
